body {
    background-color: #272727;
}

#apps_bar {
    position: relative;
    background-color: #272727;
    color: white;
    width: 90%;
    margin-left: 10px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #444444;
    overflow: auto;
}

.app {
    /* Adds 20px of space between each app */
    position: relative;
    margin-bottom: 20px;
    background-color: #444444;
    width: 90%;
    height: 70px;
    padding: 5px;
    border-radius: 20px;
}
.app:hover {
    background-color: #555555;
}
.appicon {
    position: absolute;
    top: 15%;
    left: 2%;
    height: 50px;
    width: 100px;
    /* Sets background image to PyhostLogo.png in the local directory */
    background-image: url("PyhostLogo.png");
}
.appbuttons {
    max-width: fit-content;
    position: relative;
    margin: 10px;
    z-index: 5; /* Makes it so that it won't be overlayed*/
    
    left: 101%;
    display: flex;
    flex-direction: column;
}
.appname {
    position: absolute;
    right: 5%;
    text-align: right;
    z-index: 4;
    top: 0px;
}
.warden_on {
    position: relative;
    top: -100%;
    left: 125px;

    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z' /%3E%3C/svg%3E");
    cursor: pointer;
}
.warden_off {
    position: relative;
    top: -100%;
    left: 125px;

    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z' /%3E%3C/svg%3E"); 
    cursor: pointer;
}
.autoboot_on {
    position: relative;
    top: -100%;
    left: 125px;

    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='green' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z' /%3E%3C/svg%3E");
    cursor: pointer;
    z-index: 5;
}
.autoboot_off {
    position: relative;
    top: -100%;
    left: 125px;

    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z' /%3E%3C/svg%3E");
    cursor: pointer;
    z-index: 5;
}